header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease-out 500ms;
    

    .headerLogo{
        height: 100px;

        img{
            height: 100%;
        }
    }

    .headerUser{
        height: 50px;

        img{
            height: 100%;
            border-radius: 5px;
        }
    }
}

.headerBlack{
    background-color: #141414;
    opacity: 0.9;
}